{% extends "base.html" %}
{% load assets %}

{% block extra_head %}
    {{ flat_points | json_script:"points_data" }}
{% endblock %}

{% block content %}
    <h1>
	<div>{{ city.name }}</div>
	<div class="subtitle">{{ city.country.name }}</div>
    </h1>


    {% for type, type_display, points in grouped_points %}
	<section class="points-list is-{{ type }}">
	    <h2>{{ type_display }}</h2>
	    <ul>
		{% for point in points %}
		    <li>
			<h3 class="points-list-name">{{ point.name }}</h3>
			<p class="points-list-address">{{ point.address }}</p>
			<div class="points-list-actions">
			    <a href="{% url 'point-detail' point.pk %}">View</a>
			</div>
		    </li>
		{% endfor %}
	    </ul>
	</section>
    {% endfor %}
{% endblock %}

{% block extra_body %}
    {% asset_script_tag 'locations' %}
{% endblock %}
