{% extends "base.html" %}
{% from "macros/forms.html" import field, repeatable_field, field_select, errors, submit_btn %}
{% from "macros/icon.html" import icon %}
{% from "macros/geocode.html" import geocode_fieldset, latlon_fields %}
{% from "macros/components.html" import collapsible_map %}

{% block main %}
    <h1>{{ title }}</h1>
    {{ collapsible_map('Map', 'point_form_map', latlon) }}

    <form id="point_form"
          method="POST"
          action=""
          data-trip-id="{{ point.trip.id }}"
          data-controller="geocode"
          >
        {{ errors(form) }}

        {{ form.hidden_tag() }}

        {{ field(form.name) }}
        {{ field(form.address) }}

        {{ latlon_fields(form.lat, form.lon) }}

        {{ geocode_fieldset(country_code=point.trip.country_code, field_selector=True, data={'data-action': 'geocode:set->map-pointer#moveMap'}) }}

        {%- set schedule_buttons %}
        {%- endset -%}

        {{ field_select(form.type) }}

        {{ repeatable_field(form.websites) }}

        {{ field(form.notes) }}
        <div class="mb-2 position-relative field-schedule" data-controller="point-form-schedule">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="{{ schedule_header_cell_class }}">From</th>
                        <th class="{{ schedule_header_cell_class }}">To</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wdayform in form.schedule %}
                        <tr>
                            <td class="{{ wdayform.weekday.data | weekday_class }} {{ schedule_cell_class }} {{ schedule_weekday_class }}">{{ wdayform.weekday.data | capitalize }}</td>
                            <td class="{{ schedule_cell_class }}">{{ wdayform.open_from(**{'data-action': 'focus->point-form-schedule#shiftScheduleButtons'}) }}</td>
                            <td class="{{ schedule_cell_class }}">{{ wdayform.open_to(**{'data-action': 'focus->point-form-schedule#shiftScheduleButtons'}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="schedule_buttons" class="invisible schedule-buttons" data-point-form-schedule-target="buttons">
                <button type="button" class="btn btn-info btn-copy-down mb-1" data-action="point-form-schedule#copyNext" title="Copy to the next row">{{ icon('arrow-bar-down') }}</button>
                <button type="button" class="btn btn-info btn-copy-all" data-action="point-form-schedule#copyAll" title="Copy to all rows">{{ icon('share') }}</button>
            </div>
        </div>

        {{ submit_btn() }}
    </form>
{% endblock %}

{% block extra_head %}
    {# TODO: maybe install via npm #}
    {# TODO: duplicates trips/show.html, extract into macros? #}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
    {{ style_tag('point_form.js') }}
{% endblock %}

{% block extra_body %}
    {{ script_tag('point_form') }}
{% endblock %}
