{% extends "base.html" %}
{% from "macros/icon.html" import icon %}

{% block main %}
    <figure class="float-right p-1 mx-9 my-4">
        <img class="map-image" src="{{ data.point_map_url }}">
    </figure>

    <header class="mb-2">
        <h1>{{ point.name }}</h1>
        <p>{{ point.address }}</p>
        <a class="btn btn-accent" href="{{ url_for('.update_point', slug=point.trip.slug, id=point.id) }}">{{ icon('pencil') }}&nbsp;Edit</a>
    </header>

    {% if point.notes and not point.notes.isspace() %}
        <section>
            {%- for note_line in data.notes_lines %}
                <p>{{ note_line }}</p>
            {% endfor -%}
        </section>
    {% endif %}

    {{ data.schedule() }}
{% endblock %}
