{% extends "base.html" %}
{% from "macros/icon.html" import icon %}

{% block main %}
    <header>
        <div class="point-title">
            <h1>{{ point.name }}</h1>
            <address>{{ point.address }}</address>
        </div>
        <div class="buttons">
            <a class="btn btn-secondary" href="{{ url_for('.edit_point', key=point.trip.key, id=point.id) }}" hx-boost="true">{{ icon('pencil') }}&nbsp;Edit</a>
        </div>
    </header>

    <figure class="figure">
        <img class="figure-img map-image" src="{{ data.point_map_url }}">
    </figure>
    
    <section class="body">
        {% if point.websites %}
            <ul class="list-group list-group-flush">
                {% for website in point.websites %}<li class="list-group-item"><a href="{{ webite }}">{{ website }}</a></li>{% endfor %}
            </ul>
        {% endif %}

        {% if point.notes and not point.notes.isspace() %}
            {%- for note_line in data.notes_lines %}
                <p>{{ note_line }}</p>
            {% endfor -%}
        {% endif %}

        {{ data.schedule() }}
    </section>
{% endblock %}
