nav.topnav {
  padding: 0.25em;
  background: mistyrose; // TODO: replace with proper colors
  border-bottom: 2px solid lightgray;
  box-shadow: 0 0.25rem 1rem darkgray;

  a {
    display: inline-block;
    text-decoration: none;

    &.brand {
      height: 4em;

      img {
        height: 100%;
      }
    }
  }

  &, & > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.right {
      margin-left: auto;
    }
  }
}
