{% set default_input_class = "w-full" %}

{% macro field(field, extra = None, wrapper_class='', input_class=default_input_class, field_kwargs={}) -%}
    {%- set wrapper_base_class = "field-" + field.name -%}
    <div class="{{ ["", wrapper_base_class, wrapper_class] | join(' ') }}">
        {{ field.label }}
        {{ field(class_=input_class, **field_kwargs) }}
        {%- if extra %}{{ extra }}{% endif %}
    </div>
{%- endmacro %}

{% macro errors(form) -%}
    {%- if form.errors %}
        <ul class="form-errors">
            {%- for fname, errors in form.errors.items() %}
                {% set field_name = form[fname].label.text %}
                {%- for err in errors %}
                    <li>{{ field_name }}: {{ err }}</li>
                {% endfor -%}
            {% endfor -%}
        </ul>
    {% endif -%}
{%- endmacro %}

{% macro submit_btn(submit_text) -%}
    <div class="mt-1">
        <button type="submit" class="btn btn-default">{{ submit_text | default('Submit') }}</button>
    </div>
{%- endmacro %}

{% macro render_form(form, form_method, form_action, form_class) -%}
    <form method="{{ form_method | default('POST') }}" action="{{ form_action }}" class="{{ form_class }}">
        {{ errors(form) }}

        {{ form.hidden_tag() }}
        {{ caller() }}
        {{ submit_btn(submit_text) }}
{%- endmacro -%}
