{% from "macros/icon.html" import icon %}

{% set default_input_class = "" %}
{% set wrapper_base_class = "field label" %}

{% macro input(field, input_class=default_input_class, field_kwargs={}) %}
    {{ field(class_=input_class, **field_kwargs) }}
{%- endmacro %}

{% macro field(field, extra = None, wrapper_class='', input_class=default_input_class, field_kwargs={}) -%}
    {%- set wrapper_field_class = "field-" + field.name -%}
    {# TODO: replace default beer.css with custom form #}
    <div class="{{ [wrapper_base_class, wrapper_field_class, wrapper_class] | join(' ') }}">
        {{ input(field, input_class, field_kwargs) }}
        {{ field.label(class="form-label") }}
        {% if field.description %}
        <span class="helper">{{ field.description }}</span>
        {% endif %}
        {%- if extra %}{{ extra }}{% endif %}
    </div>
{%- endmacro %}

{% macro field_select(f, extra=None, wrapper_class='') %}
    {{ field(f, extra=extra, wrapper_class=wrapper_class, input_class='form-select') }}
{%- endmacro %}

{% macro errors(form) -%}
    {%- if form.errors %}
        <ul class="form-errors alert alert-danger">
            {%- for fname, errors in form.errors.items() %}
                {% set field_name = form[fname].label.text %}
                {%- for err in errors %}
                    <li>{{ field_name }}: {{ err }}</li>
                {% endfor -%}
            {% endfor -%}
        </ul>
    {% endif -%}
{%- endmacro %}

{% macro repeatable_field(field) %}
<fieldset class="repeatable-field" data-controller="repeatable-field" data-repeatable-field-count-value="{{field|length}}" data-repeatable-field-max-entries-value="{{field.max_entries}}">
    {{ field.label }}
    {% for subfield in field -%}
        {{ input(subfield, field_kwargs={'data-repeatable-field-target': 'control' }) }}
        <button type="button" class="btn btn-danger remove-button" title="Remove" data-repeatable-field-target="removeButton" data-target-id="{{subfield.id}}" data-action="repeatable-field#removeField">{{ icon('x-lg') }}</button>
    {%- endfor %}
    <button type="button" class="btn btn-success add-button" title="Add" data-action="repeatable-field#addField" data-repeatable-field-target="addButton">{{ icon('plus-lg') }}</button>
</fieldset>
{% endmacro %}

{% macro submit_btn(submit_text, submit_class="success") -%}
    <div class="{{ wrapper_base_class }}">
        <button type="submit" class="btn btn-{{ submit_class }}">{{ submit_text | default('Submit') }}</button>
    </div>
{%- endmacro %}

{% macro render_form(form, form_method, form_action, form_class, submit_text) -%}
    <form method="{{ form_method | default('POST') }}" action="{{ form_action }}" class="{{ form_class }}">
        {{ errors(form) }}

        {{ form.hidden_tag() }}
        {{ caller() }}
        {{ submit_btn(submit_text) }}
{%- endmacro -%}
