{% macro field(field) -%}
    <div class="field-{{ field.name }} {{ field | mui_field_class }}">
        {{ field() }}
        {{ field.label }}
    </div>
{%- endmacro %}

{% macro errors(form) -%}
    {%- if form.errors %}
        <ul class="form-errors">
            {%- for fname, errors in form.errors.items() %}
                {% set field_name = form[fname].label.text %}
                {%- for err in errors %}
                    <li>{{ field_name }}: {{ err }}</li>
                {% endfor -%}
            {% endfor -%}
        </ul>
    {% endif -%}
{%- endmacro %}

{% macro submit_btn() -%}
    <div>
        <button type="submit" class="mui-btn mui-btn--accent">{{ submit_text | default('Submit') }}</button>
    </div>
{%- endmacro %}
