{% macro geocode_fieldset(field_selector, country_code, data={}) -%}
    <fieldset class="" {{ data | xmlattr }}>
        <legend>Geocoding</legend>

        {% if field_selector -%}
            <div>
                <input name="geocode_field" type="radio" id="geocode_field_name" value="name" data-geocode-target="geocodeField" checked>
                <label for="geocode_field_name">By name</label>

                <input name="geocode_field" type="radio" id="geocode_field_address" value="address" data-geocode-target="geocodeField">
                <label for="geocode_field_address">By address</label>
            </div>
        {% else %}
            <input name="geocode_field" type="hidden" value="name">
        {%- endif %}

        <div>
            <button type="button" id="btn_geocode" class="btn btn-secondary" hx-post="{{ url_for('pjax.geocode', country_code=country_code) }}"
                                                                             hx-params="name,address,geocode_field"
                                                                             hx-target="#geocode_results"
                                                                             hx-swap="outerHTML settle:0"
                                                                             hx-indicator="#geocode_indicator"
                                                                             >Geocode</button>
        </div>

        <div id="geocode_indicator" class="htmx-indicator">Loading…</div> {# TODO: replace with better indicator #}

        <div id="geocode_results" data-geocode-target="results"></div>
    </fieldset>
{%- endmacro %}
