{% from "macros/forms.html" import field %}
{% from "macros/icon.html" import icon %}

{% macro geocode_fieldset(field_selector, country_code, data={}) -%}
    <fieldset class="geocode-fieldset vertical-margin padding" {{ data | xmlattr }}>
        <legend>Geocoding</legend>

        {% if field_selector -%}
            <div class="row">
                <label class="radio">
                    <input name="geocode_field" type="radio" id="geocode_field_name" value="name" data-geocode-target="geocodeField" checked>
                    <span>By name</span>
                </label>

                <label class="radio">
                    <input name="geocode_field" type="radio" id="geocode_field_address" value="address" data-geocode-target="geocodeField">
                    <span>By address</span>
                </label>
            </div>
        {% else %}
            <input name="geocode_field" type="hidden" value="name">
        {%- endif %}

        <div>
            <button type="button" id="btn_geocode" class="btn btn-info" hx-post="{{ url_for('pjax.geocode', country_code=country_code) }}"
                                                                             hx-params="name,address,geocode_field"
                                                                             hx-target="#geocode_results"
                                                                             hx-swap="outerHTML settle:0"
                                                                             hx-indicator="#geocode_indicator"
                                                                             >Geocode</button>
        </div>

        <div id="geocode_indicator" class="htmx-indicator">
            <progress class="circle"></progress>
        </div>

        <div id="geocode_results" data-geocode-target="results"></div>
    </fieldset>
{%- endmacro %}

{% macro latlon_fields(lat_field, lon_field, hint=None) -%}
    <div class="lat-lon-fields vertical-margin {%- if hint %} lat-lon-fields-with-hint{% endif %}">
        {% set geo_wrapper_class='' %}
        {{ field(lat_field, wrapper_class=geo_wrapper_class, field_kwargs=geocode_field_kwargs('lat')) }}
        <!-- <span class="ws">&nbsp;</span> -->
        {{ field(lon_field, wrapper_class=geo_wrapper_class, field_kwargs=geocode_field_kwargs('lon')) }}
        {% if hint -%}
        <div class="fields-hint">
            <button class="chip round">
                {{ icon('help', classes='fill') }}
                <span class="tooltip right s">{{ hint }}</span>
                <span class="tooltip top m l">{{ hint }}</span>
            </button>
        </div>
        {%- endif %}
    </div>
{%- endmacro %}
