@use "sass:map";

// .btn-success {
//     @include button-variant($success, $success, $color: white)
// }

// Button selector taken from Plume.CSS
// and modified slightly for prefix

button, .pm-button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[class*="pm-btn-"] {
  gap: 0.5ch;

  .icon {
    scale: 1.2;
  }
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.btn-small {
  --pm-button-rounded-size: 42px;
}

.pm-btn-info {
  color: black;
  background-color: var(--pm-color-info);
  border-color: var(--pm-color-info);
}

:root {
  --btn-close-font-size: 1.5rem;
  --btn-close-padding: 0.5rem;
}

.btn-close {
  border: none;
  background: none;
  font-size: var(--btn-close-font-size);
  color: var(--pm-app-text-color);
  padding: var(--btn-close-padding);

  opacity: 0.8;
  transition: opacity 0.15s;

  &:is(button) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
