@use "sass:map";

$-lights: (
  superlight: 90,
  light: 83,
  medlight: 63,
  medium: 57,
  meddark: 50,
  dark: 40,
  darker: 30
);

$-palette: (
  primary: (
    hue: 340,
    chroma: (
      superlight: 0.07,
      light: 0.088,
      medium: 0.135,
      meddark: 0.1,
      dark: 0.066
    )
  ),
  secondary: (
    hue: 53.87,
    chroma: (
      superlight: 0.06,
      light: 0.11,
      dark: 0.095
    )
  ),
  tertiary: (
    hue: 307,
    chroma: (
      superlight: 0.06,
      medium: 0.14,
      meddark: 0.11,
      dark: 0.075
    )
  ),
  highlight: (
    hue: 1.1,
    chroma: (
      medlight: 0.225,
      medium: 0.21,
      meddark: 0.175
    )
  ),
  success: (
    hue: 129,
    chroma: (
      superlight: 0.126,
      medium: 0.15,
    )
  ),
);

@function color($col, $lgt) {
  $h: map.get($-palette, $col, "hue");
  $c: map.get($-palette, $col, "chroma", $lgt);
  $l: map.get($-lights, $lgt) * 1%;
  @return oklch($l $c $h);
}
