/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,20,1.125,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

@use "colors" as *;

:root {
  --step--2: clamp(0.7901rem, 0.7214rem + 0.3435vw, 0.9877rem);
  --step--1: clamp(0.8889rem, 0.8116rem + 0.3865vw, 1.1111rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.125rem, 1.0272rem + 0.4891vw, 1.4063rem);
  --step-2: clamp(1.2656rem, 1.1556rem + 0.5503vw, 1.582rem);
  --step-3: clamp(1.4238rem, 1.3rem + 0.6191vw, 1.7798rem);
  --step-4: clamp(1.6018rem, 1.4625rem + 0.6964vw, 2.0023rem);
  --step-5: clamp(1.802rem, 1.6453rem + 0.7835vw, 2.2525rem);
  --step-6: clamp(2.0273rem, 1.851rem + 0.8814vw, 2.5341rem);
  --step-7: clamp(2.2807rem, 2.0824rem + 0.9916vw, 2.8509rem);
}

/* Color scheme */

:root {
  --surface: hsl(0, 0%, 97%);
  --surface-container-low: hsl(0, 0%, 94%);
  --surface-container: hsl(0, 0%, 90%);
  --surface-container-high: hsl(0, 0%, 85%);
  --surface-container-highest: hsl(0, 0%, 79%);
  --on-surface: hsl(0, 0%, 13%);

  --inverse-surface: var(--on-surface);
  --inverse-on-surface: var(--surface);

  --primary: #{color("primary", "light")};
  --primary-dark: #{color("primary", "meddark")};
  --on-primary: var(--on-surface);
  --primary-container: #{color("primary", "superlight")};
  --on-primary-container: var(--on-surface);
  --secondary: #{color("secondary", "superlight")};
  --secondary-dark: #{color("secondary", "dark")};
  --on-secondary: var(--secondary-dark);
  --secondary-container: var(--secondary);
  --on-secondary-container: var(--on-surface);
  --success: #{color("success", "medium")};
  --on-success: var(--inverse-on-surface);
  --success-container: #{color("success", "superlight")};
  --on-success-container: var(--on-surface);
  --tertiary: #{color("tertiary", "meddark")};
  --on-tertiary: var(--inverse-on-surface);
  --tertiary-container: #{color("tertiary", "superlight")};
  --on-tertiary-container: #{color("tertiary", "dark")};

  --highlight: #{color("highlight", "medlight")};
}

@supports (background-color: color-mix(in lch, black, white)) {
  :root {
    --surface-variant: color-mix(in lch, var(--secondary), var(--surface));
    --on-surface-variant: var(--secondary-dark);
  }
}
