.flashes {
  // margin-block: 0.5rem;

  .flash {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &.flash-success {
      /*
      background-color: var(--success-container);
      color: var(--on-success-container);
      */
      // TODO: temporary while there's no success in the palette
      background-color: var(--tertiary-container);
      color: var(--on-tertiary-container);
    }

    &.flash-danger {
      background-color: var(--error-container);
      color: var(--on-error-container);
    }
  }
}
