@use "sass:map";
@use "breakpoints";

form.narrow-form {
  max-width: 36em;
  margin-inline: auto;
}

fieldset legend {
  color: var(--pm-app-text-color);
}

form p {
  font-family: unset;
}

// Restoring some Plume effects
input, textarea, select {
  &:focus {
    transition: all .1s;
  }
}

.repeatable-field {
  display: grid;
  gap: 1em;

  grid-template-columns: 1fr auto;

  & > label {
    grid-area: 1 / 1 / 1 / -1;
  }

  & > .form-control {
    grid-column: 1;
  }

  & > .remove-button { 
    grid-column: 2;
  }

  & > .add-button {
    grid-column: 1 / -1;
  }

  @media(width >= breakpoints.$md) {
    grid-template-columns: auto 1fr auto auto;

    & > label {
      grid-area: 1 / 1 / 1 / 1;
    }

    & > .form-control {
      grid-column: 2;
    }

    & > .remove-button {
      grid-column: 3;
    }

    & > .add-button {
      grid-column: 4;
    }
  }

}
