@use "./colors" as c;
@use "./breakpoints";

.geocode-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1em;

  margin-top: 1em;

  .result {
    //TODO: maybe extract into card component
    padding: 0.5em;
    border: 1px solid var(--pm-primary-color);
    border-radius: 1em;

    display: flex;
    flex-flow: column;
    height: calc(15rem + 35vh);

    .name {
      margin-bottom: 0.5em;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.lat-lon-fields {
  display: grid;
  column-gap: 0.5em;
  // margin-bottom: var(--pm-form-field-margin-bottom);

  .fields-hint {
    color: c.$Gray-350;
    font-size: 200%;
    align-self: start;
    justify-self: start;
  }

  &:where(&-with-hint) {
    grid-template-columns: auto 1fr;

    .fields-hint {
      grid-area: 1 / 1 / span 2;
    }

    .field {
      grid-column: 2;
    }
  }

  @media(width >= breakpoints.$sm) {
    column-gap: 1rem;
    grid-template-columns: min(40%, 15rem) min(40%, 15rem) auto;

    .fields-hint, .field {
      grid-area: unset;
    }
  }
}
