@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

@import "./breakpoints";

.geocode-results {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: $spacer;
}

.lat-lon-fields {
  display: grid;
  column-gap: 0.5em;

  .fields-hint {
    color: gray; // TODO change
    font-size: 200%;
    align-self: start;
    justify-self: start;
  }

  &:where(&-with-hint) {
    grid-template-columns: auto 1fr;

    .fields-hint {
      grid-area: 1 / 1 / span 2;
    }

    .field {
      grid-column: 2;
    }
  }

  @media(width >= $break-sm) {
    column-gap: 1rem;
    grid-template-columns: min(40%, 15rem) min(40%, 15rem) auto;

    .fields-hint, .field {
      grid-area: unset;
    }
  }
}
