@use "colors" as c;

$primary: c.$Pink-50;
$secondary: c.$Gray-50;
$success: c.$Green-350;
$warning: c.$Yellow-100;
$danger: c.$Pink-350;
$info: c.$Blue-100;

$body-color: c.$Gray-600;
$link-color: c.$Blue-400;
$link-hover-color: c.$Blue-600;

$component-active-bg: c.$Blue-100;

// .is-primary {
//     --color-base: #{c.$Pink-50};
//     --color-text: #{c.$Pink-600};
//     --color-border: #{c.$Pink-700};
// }
//
// .is-secondary {
//     --color-base: #{c.$Gray-50};
//     --color-text: black;
//     --color-border: #{c.$Gray-500};
// }
//
// .is-success {
//     --color-base: #{c.$Green-350};
//     --color-text: white;
//     --color-border: #{c.$Green-700};
// }
//
// .is-warning {
//     --color-base: #{c.$Yellow-100};
//     --color-text: black;
//     --color-border: #{c.$Yellow-500};
// }
//
// .is-danger {
//     --color-base: #{c.$Pink-350};
//     --color-text: white;
//     --color-border: #{c.$Pink-500};
// }
