@use "colors" as c;

$primary: c.$Peach-50;
$secondary: c.$Fuchsia-50;
$success: c.$Green-350;
$warning: c.$Yellow-100;
$danger: c.$Red-350;
$info: c.$Blue-100;
$dark: c.$Gray-600;

$body-color: c.$Gray-600;
$border-color: c.$Gray-400;
$link-color: c.$Blue-400;
$link-hover-color: c.$Blue-600;

$component-active-bg: c.$Blue-100;

$type-colors: (
  "museum": c.$Blue-400,
  "sight": c.$Blue-300,
  "transport": c.$Green-400,
  "accomodation": c.$Fuchsia-300,
  "food": c.$Peach-500,
  "entertainment": c.$Lavender-Pink-300,
  "shop": c.$Lavender-300,
  "other": c.$Gray-400
);
