@use "colors" as c;
@use "palette" as pl;

:root {
  --pm-primary-color: #{pl.$primary};
  --pm-secondary-color: #{pl.$secondary};
  --pm-color-success: #{pl.$success};
  --pm-color-error: #{pl.$danger};
  --pm-color-warning: #{pl.$warning};
  --pm-color-info: #{pl.$info};
  --pm-app-text-color: #{pl.$body-color};
  --pm-link-color: #{pl.$link-color};

  // --pm-button-min-width: 0;
  // --pm-button-min-height: 0;
  --pm-list-item-margin-bottom: 0;

  --pm-app-base-font-size: 1rem;
  --pm-h1-font-size:2.5rem;
  --pm-h2-font-size:2rem;
  --pm-h3-font-size:1.8rem;
  --pm-h4-font-size:1.5rem;
  --pm-h5-font-size:1.2rem;
  --pm-h6-font-size:1.1rem;
  --pm-headings-margin: 0 0 calc(0.1em + 0.2rem + 0.2vh) 0;

  --pm-form-field-margin-bottom: 0.7em;
  --pm-label-margin-bottom: 0.25em;
  --pm-input-border-width: 2px;
  --pm-input-border-radius: 0.7em;
}
