@use "sass:list";

// TODO: change
$weekday-colors: (
  "default": (black, white),
  "fri": (var(--tertiary), var(--on-tertiary)),
  "sat": (var(--primary), var(--on-primary)),
  "sun": (yellow, black),
);

@each $name, $colors in $weekday-colors {
  $bg: list.nth($colors, 1);
  $fg: list.nth($colors, 2);
  .wday-#{$name} {
    background-color: $bg;
    color: $fg;
  }
}

.schedule-table {
  width: min(24rem, 100%);
  contain: layout;

  td, th {
    max-inline-size: initial;
  }

  .weekday {
    inline-size: 8ch;
  }
}

.field-schedule {
  padding-right: 1em;

  td.control {
    inline-size: max-content;
    min-inline-size: 2.2em;
  }
}

.schedule-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
  z-index: 1;

  button {
    margin: 0;
  }

  button + button {
    margin-top: 0.25em;
  }
}
