.show-point {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "figure" "body";
  gap: 0.5 * $spacer;

  @include media-breakpoint-up(lg) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header figure" "body figure";
  }

  & > header {
    grid-area: header;
    // display: flex;
    // flex-flow: row wrap;
    // align-items: flex-start;

  }

  & > figure {
    grid-area: figure;
    text-align: center;
    margin: 0;

    img {
      width: 100%;
    }
  }

  & > .body {
    grid-area: body;
  }
}
