@use "sass:list";

@use "colors" as c;

$weekday-colors: (
  "default": (c.$Gray-600, white),
  "fri": (c.$Blue-500, white),
  "sat": (c.$Fuchsia-100, c.$Fuchsia-700),
  "sun": (c.$Yellow-100, black),
);

@each $name, $colors in $weekday-colors {
  $bg: list.nth($colors, 1);
  $fg: list.nth($colors, 2);
  .wday-#{$name} {
    background-color: $bg;
    color: $fg;
  }
}

%schedule-table {
  th {
    font-size: initial;
  }

  td, th {
    padding: 0.5em;
  }
}

.field-schedule {
  @extend %schedule-table;

  width: min(22rem, 100%);
  position: relative;
}

.schedule-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  button {
    // FIXME: remove later
    min-width: auto;
    min-height: auto;
    display: block;
    padding: 0.5em;
  }
}

.schedule-table {
  @extend %schedule-table;
  width: auto;
}
