@use "sass:list";

$weekday-colors: (
  "default": ($body-color, white),
  "fri": ($info, white),
  "sat": ($highlight, $highlight-dark),
  "sun": ($warning-light, black),
);

@each $name, $colors in $weekday-colors {
  $bg: list.nth($colors, 1);
  $fg: list.nth($colors, 2);
  .wday-#{$name} {
    background-color: $bg;
    color: $fg;
  }
}

.field-schedule {
  width: min(22rem, 100%);
}

.schedule-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
}
