.top-header {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));

  & + header {
    min-block-size: 0;
  }

  & ~ footer {
    background-color: var(--surface-container);
  }
}

.top-breadcrumbs {
  .breadcrumb {
    margin: 0;
  }

  .breadcrumb-item.active {
    font-weight: bold;
  }
}
