.top-header {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));

  // box-shadow: 0.25rem 0.25rem 0.5rem c.$Gray-500;
}

.top-breadcrumbs {
  .breadcrumb {
    margin: 0;
  }

  .breadcrumb-item.active {
    font-weight: bold;
  }
}
