@use "sass:color";

body > header {
  margin-bottom: 0.5rem;
}

.top-navbar {
  background-image: linear-gradient(to right, $primary, $secondary);

  box-shadow: $box-shadow;

  .navbar-brand > img {
    height: 2.5rem;
  }

  %nav-link {
    transition: text-shadow 0.1s;

    &:hover,
    &:focus {
      text-shadow: color.change($navbar-light-color, $alpha: 0.3) 0 0.1em 0.25em;
    }
  }

  .nav-link {
    @extend %nav-link;
  }

  .user-dropdown > [data-bs-toggle="dropdown"] {
    @extend %nav-link;
    color: $body-color;
  }
}

.top-breadcrumbs {
  .breadcrumb {
    margin: 0;
  }
}
