@use "sass:color";

@use "breakpoints" as bp;

.trip-map {
    min-height: 60vh;

    .trip-title {
        display: flex;
        align-items: baseline;
    }

    .buttons-row {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;

        backdrop-filter: blur(7px);
        border-top: 2px solid var(--secondary);

        transition: 0.25s transform;

        &:not(.active) {
          transform: translateY(100%);
        }

        .btn-close {
          float: right;
          margin-right: 0.25rem;
          margin-top: 0.25rem;
        }

        h4 {
            font-size: 1rem;
            text-align: center;
            margin: 0.25rem 0;
        }

        ul {
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
            padding: 0.5em;
            gap: 0.5em;

            li {
                margin: 0;
                padding: 0;
            }

            a {
                // $c: color.change(var(--surface-dim), $alpha: 0.2);
                $c: hsla(300, 7%, 86%, 0.2); // TODO: remove hardcode
                border: 2px solid $c;
                backdrop-filter: blur(15px);
                border-radius: 2em;

                &:hover,
                &:focus {
                    background-color: $c;
                }
            }
        }
    }
}

// Had to add main to prevent beer.css from overriding.
// TODO: maybe extract into a styles mixin and add to layer
main.show-trip {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    @media(width > bp.$break-md) {
        flex-flow: row nowrap;

        // Height hack, TODO rework later
        flex: 0 0 calc(100vh - 9rem);

        .app {
            flex-grow: 1;
            overflow-y: scroll;
        }

        .trip-map {
            order: 1;
            flex-basis: 60%;
        }
    }

    .trip-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;

        & > h1 .trip-title-author {
          font-size: 65%;
          font-style: italic;
          color: var(--surface-dim);
          margin-left: 0.5em;

          .you {
            text-decoration: underline dotted 2px;
          }
        }
    }
}

.trip-point-items {
    // & > * {
    //     padding-inline: 1rem;
    // }
    //
    // ul {
    //     list-style: none;
    // }
    //
    // h2 {
    //     margin-bottom: 0.5em;
    // }

    --decoration-color: var(--type-color, #aaa);

    border-left: 4px solid var(--decoration-color);
    h2 {
        border-bottom: 6px solid;
        border-image: linear-gradient(to right, var(--decoration-color), var(--decoration-color) 30%, transparent 100%) 1;
    }
}

.trip-point-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    // padding-bottom: 0.25em;
    // margin-bottom: 0.25em;
    // border-bottom: 2px dotted palette.$border-color;

    .item-links {
      white-space: nowrap;
    }
}
