@use "palette";

@import "./breakpoints";

.trip-map {
    min-height: 60vh;

    .mapboxgl-marker {
        height: 3.5rem;
    }

    .trip-title {
        display: flex;
        align-items: baseline;
    }
}

.show-trip {
    display: flex;
    flex-flow: column;

    @include media-breakpoint-up(lg) {
        flex-flow: row nowrap;
        gap: 0.5rem;

        // Height hack, TODO rework later 
        height: calc(100vh - 9rem);

        .app {
            flex-grow: 1;
        }

        .trip-map {
            order: 1;
            flex-basis: 60%;
        }
    }

    .app {
        overflow-y: scroll;
    }

    .trip-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
}

.trip-point-items {
    & > * {
        padding-inline: 1rem;
    }

    ul {
        list-style: none;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    @each $name, $color in palette.$type-colors {
        &--#{$name} {
            border-left: 4px solid $color;

            h2 {
                border-bottom: 6px solid;
                border-image: linear-gradient(to right, $color, $color 30%, transparent 100%) 1;
            }
        }
    }
}

.trip-point-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: 2px dotted palette.$border-color;
}
