ul.trips {
  list-style: none;
  padding: 0;
  column-width: 20ch;

  li {
    break-inside: avoid;
  }

  a {
    display: block;
    $shadow-color: var(--highlight);

    box-shadow: none;
    transition: box-shadow 0.2s, border-color 0.2s;
    border: 3px solid transparent;
    text-decoration: none;

    &:hover,
    &:focus {
      box-shadow: 0.25em 0.25em 0.5em $shadow-color;
      border-color: $shadow-color;
    }
  }
}
