@use "sass:color";

@use "breakpoints" as bp;

.trip-map {
    height: 100%;

    .trip-title {
        display: flex;
        align-items: baseline;
    }

    .buttons-row {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;

        backdrop-filter: blur(7px);
        border-top: 2px solid var(--surface-container-highest);

        transition: 0.25s transform;

        &:not(.active) {
          transform: translateY(100%);
        }

        .button-close {
          float: right;
          margin-right: 0.25rem;
          margin-top: 0.25rem;
        }

        h4 {
            font-size: 1rem;
            text-align: center;
            margin: 0.25rem 0;
        }

        ul {
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
            padding: 0.5em;
            gap: 0.5em;

            li {
                margin: 0;
                padding: 0;
            }

            a {
                border: 2px solid var(--surface-container-highest);
                backdrop-filter: blur(15px);
                border-radius: 2em;
                color: var(--on-surface);

                &:hover,
                &:focus {
                    background-color: hsl(0 0% 79% / 0.2);
                }
            }
        }
    }
}

// Had to add main to prevent beer.css from overriding.
main.show-trip {
    body:has(> &) {
      --main-row-size: calc(100vh - 9.5rem);
    }

    .trip-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;

        & > h1 .trip-title-author {
          font-size: 65%;
          font-style: italic;
          color: var(--surface-dim);
          margin-left: 0.5em;

          .you {
            text-decoration: underline dotted 2px;
          }
        }
    }

    .app-drawer-button {
      position: absolute;
      top: 8rem;
      left: 1rem;
      z-index: 99;
    }
}

.trip-point-items {
    ul {
        list-style: none;
        padding-inline-start: 0;
    }

    --decoration-color: var(--type-color, #aaa);

    border-left: 4px solid var(--decoration-color);
    h2 {
        border-bottom: 6px solid;
        border-image: linear-gradient(to right, var(--decoration-color), var(--decoration-color) 30%, transparent 100%) 1;
    }
}

.trip-point-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    address {
      margin-block-start: initial;
    }

    .item-links {
      white-space: nowrap;
    }
}
