@import "./breadcrumbs";
@import "./poi-form";
@import "./show";

$nav-padding: 0.75em;

body {
    font-size: 16px;
    font-family: 'DejaVu Sans', system-ui;
}

.main-footer {
    box-sizing: border-box;

    text-align: center;
    padding: 1em;
    margin-top: 1rem;
}

%flex {
    display: flex;
}

.flex-row {
    @extend %flex;
    flex-flow: row nowrap;
}

.flex-column {
    @extend %flex;
    flex-flow: column nowrap;
}

.flex-shelf {
    @extend %flex;
    flex-flow: row wrap;
}

.layout {
    @extend .flex-column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;

    & > nav, & > footer {
        flex: 0 0 auto;
    }

    & > main {
        flex: 1 0 50%;
    }
}

nav.navbar {
    box-sizing: border-box;

    @extend .flex-row;
    justify-content: flex-start;

    & > .navbar-title {
        font-weight: bold;
    }

    & > .navbar-separator {
        margin-left: 0;
        margin-right: auto;
    }

    align-items: baseline;

    span, a {
        margin-left: $nav-padding;
        margin-right: $nav-padding;
    }

    .navbar-title {
        font-size: 1.2rem;
        font-variant: small-caps;
        margin: 0 $nav-padding;
    }
}

/* Icons */

svg.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    stroke: currentColor;
    fill: currentColor;
}
