@use "colors" as c;

@import "palette";

@import "~bootstrap/scss/bootstrap";

@import "buttons";
@import "layout";
@import "icons";
@import "trips-index";
@import "collapsible-map";
@import "point-schedule";

.main-footer {
    background-color: c.$Gray-50;
    color: c.$Gray-400;
}

// Link colors

.link-secondary {
  color: c.$Gray-400 !important; // TODO: remove !important after removing Bootstrap's link utility classes

  &:hover, &:focus {
    color: c.$Gray-600 !important;
  }
}
