@use "typography";
@use "flashes";
@use "top-header";
@use "forms";
@use "map-with-coords";
@use "geocode";
@use "trips-index";
@use "trip-show";
@use "point-schedule";
@use "point-show";

/* Overrides */
.mapboxgl-control-container {
  position: initial;
}

:is(.mapboxgl-ctrl-group, .mapboxgl-ctrl-attrib) :is(.mapboxgl-ctrl button) {
  margin: 0;
  min-width: initial;
  padding: 0;
  border-radius: revert;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

:where(a, :any-link, .link):not(.button, .chip, menu a) {
  color: var(--primary-dark) !important;
  text-decoration: underline;
}

.primary-border {
  border-color: var(--primary-dark) !important;
}

.primary-text {
  color: var(--primary-dark) !important;
}

:is(.checkbox, .radio) > input + span::before {
  color: var(--primary-dark) !important;
}

.secondary-border {
  border-color: var(--secondary-dark) !important;
}

.secondary-text {
  color: var(--secondary-dark) !important;
}

.success {
  background-color: var(--success);
  color: var(--on-success);
}

.field textarea {
  white-space-collapse: revert;
}

// WARNING: look after Beer.css's layout styles, fix as necessary
:has(> main) {
  grid-template-rows: auto auto var(--main-row-size, 1fr) auto auto
}

/* Utils */

.invisible {
  display: none;
}

:is(ul, ol).list-no-style {
  list-style: none;
}

.htmx-indicator {
  /* Initial style to load while HTMX is loading */
  opacity: 0;
  visibility: hidden;

  &.htmx-request {
    visibility: visible;
  }
}
