@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* TODO: extract into other files */

.btn {
    @apply rounded-sm transition-colors duration-150 text-gray-800 no-underline px-4 py-2;
}

.btn-small {
    @apply px-3 py-1;
}

.btn-light {
    background: theme('colors.gray.300');

    &:hover,
    &:focus {
        background: theme('colors.gray.100');
    }
}

.btn-default {
    background: theme('colors.indigo.700');
    color: theme('colors.white');

    &:hover,
    &:focus {
        background: theme('colors.indigo.500');
    }
}

p {
    @apply mb-2;
}

label {
    @apply font-bold block;
}

input:not([type=submit]), select, textarea {
    border: 1px solid theme('colors.gray.400');
    @apply rounded-md py-1 px-2;
}

input:not([type=submit]):not([type=radio]):not([type=checkbox]), select, textarea {
    @apply w-full;
}

input[type=radio], input[type=checkbox] {
    & + label {
        display: inline-block;
    }
}

a {
    color: theme('colors.indigo.800');
    text-decoration: underline currentcolor dashed;

    &:hover,
    &:focus {
        text-decoration-style: solid;
    }
}
