$input-padding: 0.25em;

form {
    box-sizing: border-box;
    max-width: 60em;
    margin: 2em auto 0;

    input:not([type=submit]):not([type=radio]), & select, & textarea {
        width: 100%;
        margin-bottom: 0.5em;
        box-sizing: border-box;
    }

    input:not([type=submit]) {
        padding: calc(#{$input-padding} - 1px);
        height: $input-padding + 1em;
    }
}

label {
    font-weight: bold;
    display: block;

    input[type=radio] + & {
        display: inline;
    }
}
