$gcr-margin: 0.5rem;

.geocode-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: $gcr-margin;
}

.geocode-result {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0.5rem;

    &:last-child {
        margin-right: auto;
    }

    .name {
        box-sizing: border-box;

        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0.25em;
    }

    img {
      width: 100%;
    }
}

.lat-lon-fields {
    & > div {
        flex-basis: 15em;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

.mui-custom-schedule {
    @extend .mui-textfield;

    .schedule-table-form {
        &--input-cell {
            @extend .mui-textfield;
            display: table-cell;
            margin: 0;

            input {
                width: 6em;
            }
        }
    }
}
