.map-image-container {
    $padding: 0.25em;

    position: relative;
    float: right;

    padding: $padding;

    & > img.map-image {
        max-width: 100%;
    }

    & .attribution {
        font-size: 75%;
        text-align: right;
    }
}

%dow-wday-display {
    background: mui-color('black-alpha-87');
    color: white;
}

.schedule-table {
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
        padding: 0.5em;
    }

    margin-top: 0.5em;
    margin-bottom: 1em;

    @each $dow in mon, tue, wed, thu {
        .#{$dow} {
            @extend %dow-wday-display;
        }
    }

    & .fri {
        background: $mui-accent-color-dark;
        color: white;
    }

    & .sat {
        background: mui-color('deep-orange', '200');
        color: black;
    }

    & .sun {
        background: mui-color('amber', '200');
        color: black;
    }
}
