@import "./breakpoints";

.trip-map {
    min-height: 60vh;

    & .mapboxgl-marker {
        height: 3.5rem;
    }
}

.show-trip {
    flex-flow: column;

    @media(min-width: $break-lg) {
        flex-flow: row nowrap;

        .app {
            flex-grow: 1;
        }

        .trip-map {
            order: 1;
            flex-basis: 60%;
        }
    }
}
