.trip-map {
    min-height: 60vh;
    
    & .extra-attribution {
        position: absolute;
        bottom: 0;
        left: 5px;
        height: 24px;
        width: 78px;

        background-image: url(/static/vendor/mapbox/logo.svg);
        background-repeat: no-repeat;
        z-index: 500;
    }
}
