@use "sass:map";

@use "../breakpoints" as bp;

@mixin styles {
  body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;

    & > .container {
      flex-grow: 1;
      display: flex;
      flex-flow: column;

      & > main {
        flex-grow: 1;
      }
    }
  }

  .container {
    margin: 0 auto;
    box-sizing: border-box;

    @each $bp in map.values(bp.$breakpoints) {
      @media(width >= $bp) {
        width: $bp;
      }
    }
  }
}
