.show-trip {
  display: flex;
  flex-flow: column;

  .map {
    flex-grow: 1;

    .marker {
      width: 3.5rem;
      height: 3.5rem;

      & > svg:first-child {
        /* Marker body */
        height: 100%;
        width: 100%;

        path {
          fill: var(--type-color);
          stroke: black;
          stroke-width: 4%;
        }
      }

      .icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1.4rem;
        top: 0.6rem;
      }
    }
  }

  dialog.points-list {
    margin-left: 0;
    margin-right: auto;
    top: 0;
    height: 100vh;
    max-height: unset;
    transform: translateX(-100%);

    transition: transform 0.2s, display 0.2s allow-discrete, visibility 0.2s allow-discrete;

    &:open {
      transform: translateX(0);

      @starting-style {
        transform: translateX(-100%);
      }
    }
  }
}
