{% extends "base.html" %}
{% from "macros/forms.html" import field, field_select, errors, submit_btn %}
{% from "macros/icon.html" import icon %}
{% from "macros/components.html" import collapsible_map %}
{% from "macros/geocode.html" import geocode_fieldset, latlon_fields %}

{% block main %}
    <h1>{{ title }}</h1>
    {{ collapsible_map('Map', 'trip_form_map', latlon) }}

    <form id="trip_form" method="POST" action="">
        {{ errors(form) }}

        {{ form.hidden_tag() }}

        {{ field(form.name, wrapper_class="lg:w-100") }}

        {{ latlon_fields(form.center_lat, form.center_lon) }}

        {{ geocode_fieldset(field_selector=False, country_code='', data={'data-action': 'geocode:set->map-pointer#moveMap'}) }}

        {{ field_select(form.country_code) }}

        {{ submit_btn(submit_text) }}
    </form>
{% endblock %}

{% block extra_head %}
    {# TODO: maybe install via npm #}
    {# TODO: duplicates trips/show.html, extract into macros? #}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block extra_body %}
    {{ script_tag('trip_form') }}
{% endblock %}
