{% extends "base.html" %}
{% from "macros/forms.html" import field, errors, submit_btn %}
{% from "macros/icon.html" import icon %}
{% from "macros/components.html" import collapsible_map %}
{% from "macros/geocode.html" import geocode_fieldset %}

{% block main %}
    <h1 class="{{ common_classes.h1 }}">{{ title }}</h1>
    {{ collapsible_map('Map', latlon) }}

    <form id="trip_form"
          method="POST"
          action=""
          >
          {{ errors(form) }}

          {{ form.hidden_tag() }}

          {{ field(form.name, wrapper_class="lg:w-100") }}

          <div class="flex flex-row">
              {# TODO: extract into macros? #}
              {% set geo_wrapper_class='w-40' %}
              {{ field(form.center_lat, wrapper_class=geo_wrapper_class, field_kwargs=geocode_field_kwargs('lat')) }}
              <span class="w-2">&nbsp;</span>
              {{ field(form.center_lon, wrapper_class=geo_wrapper_class, field_kwargs=geocode_field_kwargs('lon')) }}
          </div>
        
          {{ geocode_fieldset(field_selector=False, country_code='', data={'data-action': 'geocode:set->map-pointer#moveMap'}) }}

          {{ field(form.country_code) }}
          {{ field(form.slug) }}

          {{ submit_btn() }}
    </form>
{% endblock %}

{% block extra_head %}
    {# TODO: maybe install via npm #}
    {# TODO: duplicates trips/show.html, extract into macros? #}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block extra_body %}
    {{ script_tag('trip_form') }}
{% endblock %}
