{% extends "base.html" %}
{% from "macros/icon.html" import icon %}

{% block main %}
    <header class="bottom-margin">
        <nav class="wrap">
            <h1 class="small">Your trips</h1>
            <a href="{{ url_for('trips.new') }}" class="button" role="button" title="Add trip">{{ icon('add_circle', 'fill') }} Add trip</a>
        </nav>
    </header>

    <ul class="trips">
        {% for trip in trips -%}
            <li><a href="{{ url_for('trips.show', key=trip.key) }}" class="medium-padding">{{ trip.flag() }}&nbsp;<span class="underline">{{ trip.name }}</span></a></li>
        {% endfor -%}
    </ul>
{% endblock %}
