{% extends "base.html" %}
{% from "macros/icon.html" import icon %}

{% block main %}
    <header class="bottom-margin">
        <nav>
            <h3>Your trips</h3>
            <a href="{{ url_for('trips.new') }}" class="button m l" role="button" title="Add trip">{{ icon('add_circle', 'fill') }} Add trip</a>
        </nav>
        <a href="{{ url_for('trips.new') }}" class="button responsive s small-margin bottom-margin" role="button" title="Add trip">{{ icon('add_circle', 'fill') }} Add trip</a>
    </header>

    <ul class="trips">
        {% for trip in trips -%}
            <li><a href="{{ url_for('trips.show', key=trip.key) }}" class="medium-padding">{{ trip.name }}</a></li>
        {% endfor -%}
    </ul>
{% endblock %}
