<style>
    {% for name, brand in color_brands.items() %}
        .is-{{ name }} {
            {% for col_name, col_val in brand.items() -%}
                --color-{{ col_name }}: {{ col_val }};
            {% endfor %}
        }
    {% endfor %}

    :root {
        {% for name, col_val in color_exposed.items() -%}
            --palette-{{ name }}: {{ col_val }};
        {% endfor %}


        {% for point_type, col_val in color_point_types.items() -%}
            --point-type-{{ point_type }}: {{ col_val }};
        {% endfor %}


        {% for name, (direction, colors) in color_gradients.items() -%}
            --gradient-{{ name }}: linear-gradient(to {{ direction }}, {{ colors | join(', ') }})
        {% endfor %}

    }

    {% for point_type in color_point_types -%}
        .point-type-{{ point_type }} {
            --point-color: var(--point-type-{{ point_type }});
        }
    {% endfor %}

</style>
