<header>
    <nav class="bg-indigo-700 text-white flex flex-row items-baseline h-12">
        <a href="/" class="text-white no-underline h-full mx-2 pt-3 inline-block font-bold">TRIPPLAN</a>
        <span class="mr-auto ml-0"></span>
        {% if g.user %}
            <span class="mx-2">{{ g.user.username }}</span>
            <a href="{{ url_for('auth.logout') }}" class="mx-2 btn btn-light btn-small">Sign out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="mx-2 btn btn-light btn-small">Sign in</a>
        {% endif %}
    </nav>

    {%- if g.breadcrumbs %}
    <nav class="my-2 flex flex-row items-baseline">
        {%- for breadcrumb in g.breadcrumbs %}
            {% if not loop.first -%}
                <span class="">/</span>
            {%- endif -%}

            {%- set bc_class = "p-2" -%}
            {%- if loop.last -%}
                {%- set bc_class = bc_class + "" -%}
            {%- endif %}
            {%- if breadcrumb.link -%}
                <a href="{{ breadcrumb.link }}" class="{{ bc_class }}">{{ breadcrumb.text }}</a>
            {%- else -%}
                <span class="{{ bc_class }}">{{ breadcrumb.text }}</span>
            {%- endif %}
        {% endfor -%}
    </nav>
    {% endif -%}
</header>
