<header>
    <nav class="navbar navbar-expand-sm bg-primary">
        <div class="container">
            <a href="/" class="navbar-brand">TRIPPLAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_toggler">
                {% if g.user %}
                    <span class="nav-text ms-auto">{{ g.user.username }}</span>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">Sign out</a></li>
                    </ul>
                {% else %}
                     <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Sign in</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {%- if g.breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            {%- for breadcrumb in g.breadcrumbs %}
                {%- set bc_class = "breadcrumb-item" -%}
                {%- if loop.last -%}
                    {%- set bc_class = bc_class + " active" -%}
                {%- endif %}
                <li class="{{ bc_class }}">
                    {%- if breadcrumb.link -%}
                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a>
                    {%- else -%}
                        {{ breadcrumb.text }}
                    {%- endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
    {% endif -%}
</header>
