<header>
    <nav class="navbar mui--bg-color-indigo-600 mui--appbar-height">
        <span class="navbar-title mui--color-white mui--appbar-height mui--appbar-line-height">TRIP PLANNER</span>
        <div class="navbar-right mui--appbar-height mui--appbar-line-height">
            {% if g.user %}
                <span class="mui--color-white">{{ g.user.username }}</span>
                <a href="{{ url_for('auth.logout') }}" class="mui-btn">Sign out</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="mui-btn">Sign in</a>
            {% endif %}
        </div>
    </nav>

    {%- if g.breadcrumbs %}
        <ul class="breadcrumbs">
            {%- for breadcrumb in g.breadcrumbs %}
                <li class="breadcrumb-item">
                    {%- if breadcrumb.link %}
                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <span>{{ breadcrumb.text }}</span>
                    {% endif %}
                </li>
            {% endfor -%}
        </ul>
    {% endif -%}
</header>
