<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trip planner</title>

        <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

        <link rel="stylesheet" href="/static/css/app.css" type="text/css" media="screen">
        {%- block extra_head %}{% endblock %}

        {% autoescape false %}
            {% for chunk in chunks %}
                {{ script_tag(chunk) }}
            {% endfor %}
        {% endautoescape %}
    </head>
    <body>
        {{ icon_defs }}

        <div class="layout">
            {% include "_header.html" %}
            <main class="{{ view_class }}">
                {% block main %}{% endblock %}
            </main>
            <footer class="main-footer">
                <p>© Artemiy Solopov, 2019</p>
                <p>All map data © OpenStreetMaps</p>
                <p>Icons are based on icons from <a href="https://icomoon.io/">Icomoon</a></p>
            </footer>
        </div>

        {%- block extra_body %}{% endblock %}
    </body>
</html>
