{% extends form_base_template %}

{% block main %}
    <form method="POST" action="{{ request.base_url }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

	{%- if message -%}
	    <p>{{ message }}</p>
	{%- endif -%}

        <div>
            <button class="btn btn-danger" type="submit">{{ submit_label | default('Yes') }}</button>
            {% if rendering_for_dialog -%}
                <button class="btn btn-secondary" formmethod="dialog">Back</button>
            {%- else -%}
                <a class="btn btn-secondary" href="{{ request.referrer | default('/', true) }}">Back</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
